<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Work with us!</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I want to be a member of EthioNLP</h3>

        <h4>Application</h4>
        <p class="text-muted"><strong>Interested in doing a project with the Ethio NLP ?</strong>
        <p class="text-muted"> Then send an e-mail to: <br/>
        <span class="indented"><a href="mailto:emailhere">Email here</a></span> </p>
        
        <p class="text-muted">Please attach your CV and transcript and include <strong>[Masters Project]</strong> or <strong>[Masters Thesis]</strong> in your subject heading. Looking forward to collaborating with you!</p>
         
        <p class="text-muted"><em>(Note: if you want to propose your own project (which should share at least some similarities with the projects currently on offer), please contact the supervisor first to see whether they would be open to it.)</em></p>
      </li>

      
    </ul>
  </div>
</section>