<section id="contact" style="height: 85%;">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">How can I collaborate with EthioNLP?!</h2>
            <!-- <h2 class="section-heading">Want to join or collaborate?</h2> -->
            <hr class="primary">
            <div class="row">
              <div class="col-lg-12  text-center">
                  <p class="text-muted text-center" style="text-align: center;">Interested in researching Ethiopian languages?</p>
                  <p class="text-muted">Anyone interested in NLP research for Ethiopian languages is welcome to join the group. Members are expected to contribute to the group's research and attend meetings regularly. Members are also encouraged to share their research findings and participate in group discussions. </p>
                  <p class="text-muted">Please visit <strong>Join Us</strong> page and join to our group mail list, Telegram or Discord group. After you join us, we will share to you two documents, <strong>Community membership rules</strong> and <strong>Research guidlines</strong> </p>
             
              </div>
          </div>
            <!-- <p>Please visit <a href="{{url}}/contact.html">the contacts page</a> for full information and open positions!</p> -->
        </div>
          <div class="col-lg-4 text-center">
              <!-- QR Code for Telegram -->
              <p>Telegram group:</p>
              <img src="../../resources/img/telegram.png" alt="Telegram QR Code"style="width: 200px; height: 200px;"><br/>
              <a href="https://t.me/+f_5gMa4KhtU2NWUy" class="btn btn-primary">Join Telegram</a>

              <!-- Button for Google Mailing List -->
          </div>
        <div class="col-lg-4 text-center">
            <!-- <h2 class="section-heading">Join us!</h2> -->
            <!-- QR Code for Telegram -->
            <p>Discord group:</p>
            <img src="../../resources/img/discord.png" alt="Discord QR Code"style="width: 200px; height: 200px;"><br/>
            <a href="https://discord.gg/tJAWXDJQ" class="btn btn-primary">Join Discord</a>

            <!-- Button for Google Mailing List -->
        </div>

        <div class="col-lg-4 col-lg-offset-2text-center">
            <p>Group mailing List:</p>
            <img src="../../resources/img/Groups.png" alt="Group email"style="width: 200px; height: 200px;"><br/>
            <a href="https://groups.google.com/forum/#!forum/ethionlp/join" class="btn btn-primary">Join Mailing List</a>
        </div>
    </div>
  </div>
</section>