<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Join us!</h2>
              <hr class="primary">
              <!-- QR Code for Telegram -->
              <p>Scan to join our Telegram group:</p>
              <img src="../../resources/img/qrcode.png" alt="Telegram QR Code"style="width: 200px; height: 200px;">
              <!-- Button for Google Mailing List -->
              <p>Or join our Google mailing list:</p>
              <a href="your_google_mailing_list_link" class="btn btn-primary">Join Mailing List</a>
          </div>
      </div>
  </div>
</section>

