<script>
    window.onload = function() {
        var sentences = [
            'Lets work together',
            'አብረን እንስራ',
            'ብሓባር ንሰርሕ',
            'Waliin haa hojjennu',
        ];
        var currentIndex = 0;
        var headerElement = document.getElementById('header-text');
        function updateHeaderText() {
            headerElement.textContent = sentences[currentIndex];
            currentIndex = (currentIndex + 1) % sentences.length;
            setTimeout(updateHeaderText, 2500);
        }
    
        updateHeaderText();
    };
    </script>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ethio NLP </h1>
            
            <h3 id="header-text"></h3>
        
        
        </div>
    </div>
</header>