<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ethio NLP </h1>
            <hr>
            <p><strong>There are efforts throughout the world to conduct NLP for Ethiopian languages but without formal communication among researchers.
            <br>  <b>At COLING 2018, Santa Fe, USA</b>, three researchers from 1) the University of Hamburg (<a href="https://seyyaw.github.io/">Seid Muhie Yimam</a>), 2) Addis Ababa University (<a href="https://addisababa.academia.edu/BSeyoum">Binyam Ephrem Seyoum</a>), and 3) University of Trento (<a href"https://surafelml.github.io/">SurafelM.Lakew</a>) took an initiative to create a formal NLP society for Ethiopian language NLP research. 
                
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
