<section id="research-interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Focus Areas </h2>
                <hr class="primary">
                <!-- <p>Our research interests are broadly in natural language processing, deep learning, machine learning, and artificial intelligence, with some projects integrating computer vision and data science. Specifically, our research focuses on how we can design systems that understand the implicit human knowledge underlying language and communication.</p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box text-muted">
                    <img src="resources/img/research_interests/representation.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">NLP corpus & dataset creation</h3>
                    <!-- <p class="text-muted">A corpus is a fundamental requirement for NLP tasks as it comprises a collection of texts, images, audio, or video used for training and analysis. These collections can consist of content from a single language or multiple languages, depending on the task at hand. Corpora serve as the primary source of data for NLP algorithms, enabling systems to learn language patterns and semantics. The selection and curation of diverse and high-quality corpora are crucial for developing accurate and robust NLP models, allowing researchers to gain insights and advancements in language processing.</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/reasoning.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">Language model building</h3>
                    <!-- <p class="text-muted">EthioNLP specializes in creating NLP and ML models specifically for Ethiopian languages. The focus is on promoting accessibility by publishing these models under lenient licenses, encouraging their utilization in a wide range of AI applications. By providing language-specific models, EthioNLP addresses the unique linguistic challenges of Ethiopian languages and contributes to advancements in language processing. Through their efforts, EthioNLP aims to foster collaboration, innovation, and the democratization of AI in Ethiopia, empowering individuals and organizations to leverage these models for language-centric tasks and supporting the growth and development of Ethiopian languages in the digital age.</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/commonsense.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">Research & project collaboration</h3>
                    <!-- <p class="text-muted">EthioNLP's main objective is to establish a research platform that encourages collaborative research among scholars working on different Ethiopian languages. Recognizing the existing fragmentation in research efforts, EthioNLP aims to provide a unified space where researchers can connect, collaborate, and share their findings. By facilitating collaboration and knowledge exchange, EthioNLP seeks to strengthen the collective understanding and advancements in Ethiopian language research. Through this platform, researchers from diverse backgrounds can come together, fostering a more cohesive and synergistic research community focused on Ethiopian languages.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/narrative.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">Assist education quality</h3>
                    <!-- <p class="text-muted">EthioßNLP is dedicated to enhancing teaching and supervision activities within Ethiopian universities. Through mentoring programs for Masters and PhD students, EthioNLP aims to uplift the quality of teaching and learning in the field. By fostering a culture of collaboration and knowledge-sharing, EthioNLP strives to create an environment conducive to quality education. Through these efforts, EthioNLP envisions a positive impact on the educational landscape, empowering students and educators alike to thrive in the field of Natural Language Processing.</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/generation.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">Academy to industry linkage</h3>
                    <!-- <p class="text-muted">EthioNLP is dedicated to bridging the gap that exists between the industry and academia. Recognizing the long-standing knowledge divide between these two domains, EthioNLP actively works to close this gap. By fostering collaboration and knowledge exchange between industry professionals and academic researchers, EthioNLP aims to facilitate a seamless flow of expertise and insights. Through its efforts, EthioNLP strives to create a symbiotic relationship between the industry and academia, enabling a more effective transfer of knowledge and ultimately fostering innovation and growth in the field.</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/biomedical.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3 style="text-align: center;">Marketplace for professionals</h3>
                    <!-- <p class="text-muted">EthioNLP is committed to establishing a platform for international collaboration in the field of Natural Language Processing. By harnessing the potential of the youth in Ethiopia, EthioNLP aims to address the scarcity of AI researchers worldwide. Through its initiatives, EthioNLP seeks to unlock opportunities for skilled professionals, providing them with a marketplace where their expertise can be recognized and utilized, both locally and internationally. By connecting talent with demand, EthioNLP endeavors to foster a vibrant ecosystem that promotes knowledge exchange, skills development, and global collaboration in the realm of AI research and application.</p> -->
                </div>
            </div>
        </div>
        <!-- Mission -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">Mission</h3>
                <p class="text-muted">Our mission is to advance the understanding and application of natural language processing technologies to foster innovation and growth in the field.</p>
            </div>
        </div>
        <!-- Partners -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">With Collaboration and Support From  </h3>
                <div class="partners-logos">
                    <!-- Replace 'logo1.png', 'logo2.png', etc. with actual paths to your partners' logos -->
                    <img src="resources/img/partners/logo1.png" alt="Partner 1" class="wow fadeInUp">
                    <img src="resources/img/partners/logo2.png" alt="Partner 2" class="wow fadeInUp" data-wow-delay=".1s">
                    <img src="resources/img/partners/logo3.png" alt="Partner 3" class="wow fadeInUp" data-wow-delay=".2s">
                    <!-- Add more logos as needed -->
                </div>
            </div>
        </div>
        
        <!-- Vision -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">Vision</h3>
                <p class="text-muted">Our vision is to create innovative solutions that transform the way we interact with and understand language, making NLP accessible to diverse communities worldwide.</p>
            </div>
        </div>
    </div>
</section>
