<section id="resources">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Resources</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">

    <h3><a href="">The General goals </a></h3>
    
    <p style="margin-bottom: 10px">📌  Bringing the NLP community working on Ethiopian languages together.</p>

    <p style="margin-bottom: 10px">📌  In the long run, organizing workshops, conferences, and seminars on relevant topics that are related to Ethiopian languages.</p>

    <p style="margin-bottom: 10px">📌  Serving as a platform to coordinate and manage research papers and resources that are focused on Ethiopian languages.</p>

    <p style="margin-bottom: 10px">📌  Supporting, mentoring, and collaborating with University students on NLP research areas.</p>
     
    <p style="margin-bottom: 10px">📌  Setting goals, priorities, and tracks on Ethiopian language NLP.</p>
    <hr/>
    <h3><a href="https://github.com/uhh-lt/amharicmodels">Resources for EthioNLP are available under corpus</a></h3>
    <table>
      <tbody>
        <tr>
          <!-- <td style="text-align: left">
            <img src="resources/img/teaching/fall.svg"/>  Fall
          </td> -->
          <!-- <td style="text-align: left">
            4 ECTS
          </td> -->
          <!-- <td style="text-align: left">
            Jean-Cédric Chappelier, Martin Rajman, Antoine Bosselut
          </td> -->
        </tr>
      </tbody>
    </table>
    <p>
      📌 The HABit Corpus
      📌 ELG<br/>
      📌 SAY<br/>
      📌 Hate Speech<br/>
      📌 Amharic models released<a href="https://github.com/uhh-lt/amharicmodels">.(here)</a>
    </p>    
    <hr/>
    
    <h3><a href="https://ethionlp.miraheze.org/wiki/Models">Different NLP models for EthioNL models</a></h3>
    <table>
      <tbody>
        <tr>          
          
        </tr>
      </tbody>
    </table> 
    <p>
      📌 Word2Vec <br/>
      📌 FastText<br/>
      📌 BERT<br/>
      📌 RoBERTa<br/>
      📌 AmQAC - Amahric Question Clasification<br/>
    </p>
    <hr/>
      </div>
</section>

<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <!-- <h2 class="section-heading">Want to join or collaborate?</h2> -->
              <hr class="primary">
              <!-- <p>Please visit <a href="{{url}}/contact.html">the contacts page</a> for full information and open positions!</p> -->
          </div>
      <div class="col-lg-2 col-lg-offset-2 text-center">
          <a href="https://twitter.com/ethionlp">
              <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.ethionlp }}</p>
          </a>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
          <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.email }}</p>
          </a>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
          <a href="https://github.com/EthioNLP">
          <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.github_username }}</p>
          </a>
      </div>
  </div>
  <div class="mt-10 text-center">
  <p>© 2024 EthioNLP</p>
  </div>
</section>
