<section id="resources">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Resources</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">

    <!-- <hr/> -->
    <h3 class="section-subheading" style="font-weight: bold;"> Available dataset and corpus under EthioNLP <a href="https://github.com/uhh-lt/ethiopicmodels/wiki/Datasets"> (here)</a></h3> 
    <ul>
      <li>Amharic corpus</li>
      <li>NER dataset</li>
      <li>POS tagging</li>
      <li>Hate speech dataset</li>
      <li>Question classification dataset</li>
      <li>Amharic⇔English Machine Translation</li>
  </ul>
    
  <h3 class="section-subheading" style="font-weight: bold;">Different static and contextual language models <a href="https://github.com/uhh-lt/amharicmodels"> (here)</a></h3>
  <ul>
    <li>Word2Vec</li>
    <li>FastText</li>
    <li>AmFLAIR</li>
    <li>AmRoBERTa</li>
    <li>EthioLLM</li>
    <li>Llama-2-Amharic</li>
</ul>

    <!-- <hr/> -->
      </div>
</section>