
<footer style="background-color: rgb(255, 255, 255); text-align: center;"></br></br>
    <div >
        <a href="https://twitter.com/ethionlp" style="margin-right: 20px;"><i class="fa fa-twitter fa-3x "></i></a>
        <a href="mailto:ethionlp@googlegroups.com" style="margin-right: 20px;"><i class="fa fa-envelope-o fa-3x "></i></a>
        <a href="https://github.com/EthioNLP" style="margin-right: 20px;"><i class="fa fa-github fa-3x " ></i></a>
    </div>
    <h4 style="text-align:center; margin-top: 10px;">  &copy; {{ 'now' | date: "%Y" }} EthioNLP </h4></br></br>
  </footer>
  